<h1>Fibonacci Number Calculator</h1>
<div>Last fibonacci calculated was: <%= @last_fib_answer %></div>
<%= form_tag do %>
  <%= label_tag(:fib, "Nth Fibonacci Number") %>
  <%= text_field_tag(:fib) %>
  <%= submit_tag("Calculate") %>
<% end %>
